ol.agro-brutal-list,
ul.agro-brutal-list {
  @include reset-list;
  border-bottom: $brutalBorderThinSize solid;
  background-color: var(--baseSecondary);

  li {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 1.5rem;
  }
}
