button.agro-button-icon {
  @include brutal-border-thin;
  @include brutal-rounded;

  width: 32px;
  height: 32px;

  display: flex;
  flex: 0 0 32px;
  padding: .15rem;
  margin-left: .25rem;

  align-items: center;
  justify-content: center;

  &:active {
    @include brutal-border-thin-active;
  }
}
