.agro-notification {
  position: absolute;
  bottom: -5px;
  right: -5px;
  background-color: red;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
  box-sizing: border-box;
}
