<section class="agro-page-container">
  <ul class="agro-list">
    <li>
      <span>⭐</span>
      <span>Favoritas</span>
    </li>
    <li>
      <span>🏡</span>
      <span>Plantas pessoais</span>
    </li>
    <li>
      <span>🍎</span>
      <span>Frutíferas perto de casa</span>
    </li>
    <li>
      <span>🌺</span>
      <span>Flores da primavera</span>
    </li>
    <li>
      <span>🌻</span>
      <span>Flores de verão</span>
    </li>
    <li>
      <span>🐝</span>
      <span>Escolhidas para adubar</span>
    </li>
    <li>
      <span>🌳</span>
      <span>Árvores que cultivei</span>
    </li>
  </ul>
</section>
