<section class="agro-page-container agro-bg-primary">
  <nav>
    <ul class="agro-list agro-bg-secondary">
      <li *ngFor="let relay of relays">
        {{relay}}
        <button type="button" class="agro-button-icon agro-bg-danger">
          <i-tabler name="x"></i-tabler>
        </button>
      </li>
    </ul>
  </nav>

  <form id="network-form" novalidate autocomplete="off">
    <div class="agro-field-container add-relay">
      <label for="network-relay">Incluir relay:</label>
      <input id="network-relay" placeholder="wss://relay.com" type="text" />
      <button type="button" class="agro-button-icon">
        <i-tabler name="world-plus"></i-tabler>
      </button>
    </div>
  </form>
</section>