// FIXME: criar um path padrão
@import '../../../../styles/tools/reset-list';
@import '../../../../styles/tools/brutal-tools';

ul.agro-list {
  @include reset-list;
  @include brutal-border-thin;

  li {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 1.5rem;
  }
}
