<section class="agro-page-container">
  <h2>Rede</h2>

  <nav>
    <ul class="agro-list">
      <li>
        wss://relay.com
        <button type="button" class="agro-button-icon">
          <i-tabler name="x"></i-tabler>
        </button>
      </li>
    </ul>
  </nav>

  <form id="network-form" novalidate autocomplete="off">
    <div class="agro-field-container">
      <label for="network-relay">Relay:</label>
      <input id="network-relay" placeholder="wss://relay.com" type="text" />
    </div>
  </form>
</section>