<section class="agro-page-container">
  <nav>
    <ul class="agro-list">
      <li>
        Network
        <button type="button" class="agro-button-icon">
          <i-tabler name="caret-right"></i-tabler>
        </button>
      </li>
      <li>
        Zaps
        <button type="button" class="agro-button-icon">
          <i-tabler name="caret-right"></i-tabler>
        </button>
      </li>
      <li>
        Accounts
        <button type="button" class="agro-button-icon">
          <i-tabler name="caret-right"></i-tabler>
        </button>
      </li>
    </ul>
  </nav>
</section>