body[data-theme="default"] {
  --base: #BAFCA2;
  --contrast: rgb(15, 20, 25);
  --baseText: var(--contrast);

  --baseSecondary: white;
  --baseSecondaryText: black;

  --primary: #7FBC8C;
  --primaryContrast: black;
  
  --secondary: #F4D738;
  --secondaryContrast: var(--primaryContrast);

  --danger: #FFA07A;
}
