body[data-theme="default"] {
  --base: #BAFCA2;
  --contrast: rgb(15, 20, 25);
  --baseText: var(--contrast);

  --baseSecondary: white;
  --baseSecondaryDarker: rgb(239, 239, 239);
  --baseSecondaryText: black;

  --primary: #7FBC8C;
  --primaryContrast: black;
  
  --secondary: #F4D738;
  --secondaryContrast: var(--primaryContrast);

  --danger: #FFA07A;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-danger {
  background-color: var(--danger);
}

.text-secondary {
  color: var(--baseText);
}
