body[data-theme="default"] {
  --base: #BAFCA2;
  --contrast: rgb(15, 20, 25);
  --baseText: var(--contrast);

  --baseSecondary: white;
  --baseSecondaryDarker: rgb(253, 229, 229);
  --baseSecondaryText: black;

  --primary: #7FBC8C;
  --primaryContrast: black;
  
  --secondary: #F4D738;
  --secondaryContrast: var(--primaryContrast);

  --danger: #FF7423;
}

.agro-bg-primary {
  background-color: var(--primary) !important;
}

.agro-bg-secondary {
  background-color: var(--secondary) !important;
}

.agro-bg-danger {
  background-color: var(--danger) !important;
}

.agro-text-secondary {
  color: var(--baseText) !important;
}
