h2 {
  margin: 0 0 1rem;
}

.add-account {
  padding: 1rem;
  cursor: pointer;
  width: 100%;

  > span {
    color: var(--contrast);
    font-size: 16px;
  }

  &:active {
    background-color: var(--baseHover);
  }
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;

  i-tabler {
    margin-right: .5rem;
  }

  &:active {
    background-color: var(--primary);
  }
}
