.agro-navbar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 1;
  background-color: var(--baseSecondary);
}

i-tabler.is-active {
  background-color: var(--secondary);
  border-radius: 50%;
}