<nav class="agro-navbar">
  <ul>
    <li routerLink="/my/lists">
      <i-tabler name="trees"></i-tabler>
      <span>Listas</span>
    </li>

    <li routerLink="/search">
      <i-tabler name="map-search"></i-tabler>
      <span>Pesquisar</span>
    </li>

    <li>
      <i-tabler name="lock-square-rounded-filled"></i-tabler>
      <span>Autenticar</span>
    </li>

    <li routerLink="/camera">
      <i-tabler name="qrcode"></i-tabler>
      <span>QRCode</span>
    </li>

    <li routerLink="/config">
      <i-tabler name="settings"></i-tabler>
      <span>Configs</span>
    </li>
  </ul>
</nav>