<nav>
  <ul>
    <li>
      <i-tabler name="map-search"></i-tabler>
      <span>Pesquisar</span>
    </li>
  </ul>

  <ul>
    <li>
      <i-tabler name="trees"></i-tabler>
      <span>Minhas plantas</span>
    </li>
  </ul>

  <ul>
    <li>
      <i-tabler name="camera"></i-tabler>
    </li>
  </ul>

  <ul>
    <li>
      <i-tabler name="qrcode"></i-tabler>
      <span>Ler QRCode</span>
    </li>
  </ul>

  <ul>
    <li>
      <i-tabler name="settings"></i-tabler>
      <span>Configurações</span>
    </li>
  </ul>
</nav>