@mixin brutal-border {
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

@mixin brutal-radius {
  border-radius: 20px;
  box-sizing: border-box;
}

@mixin brutal {
  @include brutal-border;
  @include brutal-radius;
}
