.agro-button-icon {
  margin-right: .5rem;
}

.agro-plantlist-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-info {
    flex: 1 1 0px;
    overflow: hidden;

    h3 {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-description {
      display: block;
      margin: .25rem 0;
      font-size: 14px;
    }

    &-author {
      display: block;
      font-size: 11px;
    }
  }

  &-navigation {
    display: flex;
  }
}