<section class="agro-page-container">
  <article class="agro-plantlist-item">
    <div class="agro-plantlist-icon">
      {{list.icon}}
    </div>
    <div class="agro-plantlist-info">
      <h3>{{list.title}}</h3>
      <span class="agro-plantlist-info-description">
        {{list.description}}
      </span>
      <span class="agro-plantlist-info-author">
        criado por {{list.author}}
      </span>
    </div>
  </article>


  <ul class="agro-list">
    <li class="agro-listed-plant" *ngFor="let plant of plants">
      <div class="agro-listed-plant-image">
        <img [src]="plant.image" [alt]="plant.name" />
      </div>
      <div class="agro-listed-plant-info">
        <h3>{{plant.name}}</h3>
        <blockquote class="agro-listed-plant-info-description">
          {{plant.article.description}}

          <address>{{plant.article.quotes}}</address>
        </blockquote>
        <span class="agro-listed-plant-info-author">
          criado por {{plant.author}}
        </span>
      </div>
    </li>
  </ul>
</section>