// FIXME: criar um path padrão
@import '../../../../styles/tools/bottom-bordered';

.agro-treelist-item {
  @include bottom-bordered;
}

.agro-button-icon {
  margin-right: .5rem;
}

.agro-plantlist {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-info {
    flex: 1 1 0;
    overflow: hidden;

    h3 {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-description {
      display: block;
      margin: .25rem 0;
      font-size: 14px;
    }
  }

  &-navigation {
    display: flex;
  }
}

.agro-listed-plant {
  display: flex;
  align-items: flex-start;

  &-info {
    margin: 0 1rem;

    h3 {
      margin: 0 0 1rem 0;
    }

    &-description {
      margin: 0;
      text-align: justify;

      > address {
        text-align: right;
        margin: 1rem 0;
      }
    }

    > .agro-button {
      margin: 1rem 0;
      float: right;
    }
  }
}
