<section class="agro-page-container">
  <article class="agro-treelist-item">
    <div class="agro-treelist-item-icon">
      {{list.icon}}
    </div>
    <div class="agro-treelist-item-info">
      <h3>{{list.title}}</h3>
      <span class="agro-treelist-item-info-description">
        {{list.description}}
      </span>
      <span class="agro-info-author">
        criado por {{list.author}}
      </span>
    </div>
  </article>

  <ul class="agro-list">
    <li class="agro-listed-plant" *ngFor="let plant of plants">
      <div class="agro-listed-plant-image">
        <img [src]="plant.image" [alt]="plant.name" />
      </div>
      <div class="agro-listed-plant-info">
        <h3>{{plant.name}}</h3>
        <blockquote class="agro-listed-plant-info-description">
          {{plant.article.description}}

          <address>{{plant.article.quotes}}</address>
        </blockquote>
        <span class="agro-info-author">
          planta cadastrada por {{plant.author}}
        </span>
        <button class="agro-button" type="button">Abrir</button>
      </div>
    </li>
  </ul>
</section>