<section class="agro-page-container">
  <ul class="agro-list">
    <li *ngFor="let list of lists">
      <article class="agro-treelist-item">
        <div class="agro-treelist-item-icon">
          {{list.icon}}
        </div>
        <div class="agro-treelist-item-info">
          <h3>{{list.title}}</h3>
          <span class="agro-treelist-item-info-description">
            {{list.description}}
          </span>
          <span class="agro-treelist-item-info-author">
            criado por {{list.author}}
          </span>
        </div>
        <nav class="agro-treelist-item-navigation">
          <button *ngIf="list.public" type="button" class="agro-button agro-button-icon">
            <i-tabler name="world"></i-tabler>
            <span class="agro-notification">{{list.notifications}}</span>
          </button>
          <button *ngIf="!list.public" type="button" class="agro-button agro-button-icon">
            <i-tabler name="lock"></i-tabler>
          </button>
          <button type="button" class="agro-button agro-button-icon">
            <i-tabler name="caret-right"></i-tabler>
          </button>
        </nav>
      </article>
    </li>
  </ul>
</section>
