<section class="agro-page-container">
  <ul class="agro-list">
    <li *ngFor="let list of lists">
      <article class="agro-treelist-item">
        <div class="agro-treelist-item-icon">
          {{list.icon}}
        </div>
        <div class="agro-treelist-item-info">
          <h3>{{list.title}}</h3>
          <span class="agro-treelist-item-info-description">
            {{list.description}}
          </span>
          <span class="agro-info-author">
            criado por {{list.author}}
          </span>
        </div>
        <nav class="agro-treelist-item-navigation">
          <button
            type="button"
            [routerLink]="['/my', 'lists', 1]"
            class="agro-button-icon"
          >
            <i-tabler name="caret-right"></i-tabler>
            <span *ngIf="list.public" class="agro-notification">
              {{list.notifications}}
            </span>
          </button>
        </nav>
      </article>
    </li>
  </ul>
</section>

<button [routerLink]="['/my', 'lists', 'new']" class="agro-main-button" type="button">
  <i-tabler  name="plus"></i-tabler>
</button>
