<section class="agro-page-container">
  <h2>Criar nova lista</h2>
  <form>
    <div>
      <label for="new-list-icone">Icone:</label>
      <input id="new-list-icone" type="text" />
    </div>
  
    <div>
      <label for="new-list-name-list">Nome da lista:</label>
      <input id="new-list-name-list" type="text" />
    </div>
  
    <div>
      <label for="new-list-description">Descrição:</label>
      <textarea id="new-list-description"></textarea>
    </div>
  
    <div>
      <label for="new-list-tags">Tags (i):</label>
      <input id="new-list-tags" type="text" />
    </div>
  </form>

  <button type="button">Salvar</button>
</section>
